{%extends 'base.html'%}
{%block body%}
    <form method="POST" action="/data">
        <div>
          <label for="gen" id="a">Choose a genre:</label>
          <select name="name" id="gen" style="width:200px">
            <option value="none" selected disabled  hidden>Select genre</option>
            <option value="music">Music</option>
            <option value="animation">Animation</option>
            <option value="tv movie">Tv Movie</option>
            <option value="horror">Horror</option>
            <option value="thriller">Thriller</option>
            <option value="mystery">Mystery</option>
            <option value="adventure">Adventure</option>
            <option value="action">Action</option>
            <option value="foreign">Foreign</option>
            <option value="fantasy">Fantasy</option>
            <option value="drama">Drama</option>
            <option value="comedy">Comedy</option>
            <option value="western">Western</option>
            <option value="documentary">Documentary</option>
            <option value="family">Family</option>
            <option value="war">War</option>
            <option value="history">History</option>
            <option value="romance">Romance</option>
            <option value="science fiction">Science Fiction</option>
            <option value="crime">Crime</option>
          </select>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Search" id="a"> 
      </form>
      <br>
      <br>
    <div class="container">
      <h3 >MOVIES</h3>
      <table class="table" >
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Movie_Name</th>
              <th scope="col">Rating/10</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              {% for i in range(movies|length)%}
              <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{movies[i]}}</td>
              <td>{{"%.1f"|format(rate[i])}}</td>
              <td><a href="/detail/{{movies[i]}}" type="button" class="btn btn-outline-dark btn-sm mx-1" style="font-weight: bold;">Detail</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <br>
        </div>
{%endblock body%}